@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem - 10px */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 52.5%;
      /* 1rem = 9px 9/16 = 52.5% */ } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
      /* 1rem = 8px 8/16 = 50% */ } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
      /* 1rem = 12px 12/16 = 75% */ } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary-main {
      letter-spacing: .5rem; } }

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.3rem;
  animation: moveInRight 1s ease-out;
  margin-bottom: 4rem; }

.section__about_header {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .section__about_header:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.right_box,
.left_box {
  padding: 3rem; }

.right_box {
  position: relative;
  margin-right: 7rem;
  flex: 1; }

.left_box {
  margin-left: 7rem;
  flex: 0 0 45%; }

.box-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.box-para {
  font-size: 1.4rem; }
  .box-para:not(:last-child) {
    margin-bottom: 3rem; }

.story_header {
  margin-top: 10rem; }

.popup_heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .popup_heading-primary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.popup_heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500; }

.u-text_center {
  text-align: center; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 6rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  position: relative;
  font-size: 1.5rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; }

.btn-animated {
  animation: moveInBtn 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-inline {
  border: none;
  color: #55c57a;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none; }
  .btn-inline:hover {
    color: #7ed56f;
    transform: scale(1.1);
    transition: transform .2s; }

.btn-tour {
  margin-top: 12rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 2rem 6rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  font-size: 1.5rem; }
  .btn-tour:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn-tour:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-story {
  margin: 5rem 0; }

.btn-green {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  font-size: 1.5rem;
  border: none;
  margin: 2rem 0 2rem 6rem;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .btn-green {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn-green {
      margin-top: 0;
      margin-bottom: 2rem; } }
  .btn-green:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn-green:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.popup_btn {
  padding: 2.5rem 4rem;
  margin: 1rem 0 0 0;
  float: right; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.801), rgba(126, 213, 111, 0.808)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-patch: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-patch: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      margin-bottom: 10rem; } }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.logo {
  height: 35px; }

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.section__about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15vh; }

.box_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .box_wrap {
      flex-direction: column;
      padding-bottom: 30rem; } }

.section_features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.801), rgba(126, 213, 111, 0.808)), url(../img/nat-4.jpg);
  background-size: cover;
  clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%);
  margin-top: -11.5rem; }
  @media only screen and (max-width: 56.25em) {
    .section_features {
      flex-direction: column;
      text-align: center;
      clip-path: none; } }

.section_tours {
  text-align: center;
  background-color: #f7f7f7;
  margin-top: -11rem;
  padding: 20rem 0; }

.section_stories {
  text-align: center; }

.book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0;
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: #333;
  font-size: 1.4rem; }
  .footer_logo-box {
    margin-bottom: 7rem; }
  .footer_logo {
    height: 12rem;
    width: 15rem; }
  .footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer_navigation {
    padding: 3rem; }
  .footer_list {
    text-transform: uppercase;
    list-style: none;
    border-top: 2px solid #777;
    text-align: center;
    padding-inline-start: 0;
    margin: 0; }
    .footer_list-item {
      display: inline-block;
      margin-top: 1.5rem;
      transition: all .2s; }
      .footer_list-item:hover {
        transform: scale(1.05); }
      .footer_list-item:not(:last-child) {
        margin-right: 2rem; }
    .footer_list-link {
      text-decoration: none;
      color: #f7f7f7; }
      .footer_list-link:hover, .footer_list-link:active {
        color: #55c57a;
        text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .footer_rights {
    border-top: 2px solid #777;
    margin-left: 3rem;
    flex: 0 0 40%;
    margin-top: 2.7rem; }
    .footer_rights-item {
      font-size: 1.5rem;
      margin-bottom: 0; }

.link_me {
  text-decoration: none;
  color: #f7f7f7;
  transition: all .2s;
  text-transform: uppercase; }
  .link_me:hover {
    color: #55c57a;
    text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
    transform: scale(1.05); }

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation_button {
      top: 4rem;
      right: 4rem; } }

.navigation_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation_background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  padding-inline-start: 0;
  list-style: none;
  text-align: center; }
  .navigation_list-item {
    margin-top: 1.5rem; }
  .navigation_list-link:link, .navigation_list-link:visited {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 225%;
    transition: all .2s ease; }
    .navigation_list-link:link span, .navigation_list-link:visited span {
      font-size: 3rem;
      font-weight: 300;
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation_list-link:hover, .navigation_list-link:active {
    color: #55c57a;
    background-position: 100%;
    transform: translateX(1rem); }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(135deg); }

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_content {
    display: flex;
    flex: 0 0 70%;
    height: 50rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    flex-direction: row;
    overflow: hidden;
    position: relative; }
    .popup_content-closed:link, .popup_content-closed:visited {
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-size: 1.8rem;
      color: #777;
      transition: all .2s;
      text-decoration: none; }
      .popup_content-closed:link:hover, .popup_content-closed:visited:hover {
        color: #55c57a;
        transform: scale(1.1); }
  .popup_pictures {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%; }
    .popup_pictures-item {
      height: 100%;
      width: 100%; }
  .popup_text {
    padding: 3rem 5rem;
    width: fit-content;
    display: inline-block;
    flex: 0 0 60%; }
    .popup_text-content {
      font-size: 1.4rem;
      margin-bottom: 8rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 6rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  position: relative;
  font-size: 1.5rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; }

.btn-animated {
  animation: moveInBtn 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-inline {
  border: none;
  color: #55c57a;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none; }
  .btn-inline:hover {
    color: #7ed56f;
    transform: scale(1.1);
    transition: transform .2s; }

.btn-tour {
  margin-top: 12rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 2rem 6rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  font-size: 1.5rem; }
  .btn-tour:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn-tour:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-story {
  margin: 5rem 0; }

.btn-green {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 100px;
  transform: all .2s;
  font-size: 1.5rem;
  border: none;
  margin: 2rem 0 2rem 6rem;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .btn-green {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn-green {
      margin-top: 0;
      margin-bottom: 2rem; } }
  .btn-green:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn-green:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.popup_btn {
  padding: 2.5rem 4rem;
  margin: 1rem 0 0 0;
  float: right; }

.right_box:hover .img_box:not(:hover) {
  transform: scale(0.9);
  opacity: .9; }

@media only screen and (max-width: 75em) {
  .right_box {
    left: -8%; } }

@media only screen and (max-width: 56.25em) {
  .right_box {
    top: 15rem;
    left: -25%; } }

@media only screen and (max-width: 37.5em) {
  .right_box {
    top: 12rem;
    left: -45%; } }

.img_box {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute; }
  @media only screen and (max-width: 75em) {
    .img_box {
      transform: scale(0.6); } }
  @media only screen and (max-width: 56.25em) {
    .img_box {
      transform: scale(0.7); } }
  @media only screen and (max-width: 37.5em) {
    .img_box {
      transform: scale(0.5); } }

.img1 {
  top: -10rem; }

.img2 {
  top: -6rem;
  left: 25rem; }

.img3 {
  left: 13rem; }

.img1,
.img2,
.img3 {
  transition: all .2s; }
  .img1:hover,
  .img2:hover,
  .img3:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    z-index: 10; }

.section_features_box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 2rem;
  text-align: center;
  border-radius: 3px;
  flex: 0 0 15%;
  transition: transform .2s; }
  .section_features_box:not(:last-child) {
    margin-right: 5rem; }
  .section_features_box:hover {
    transform: translateY(-1rem) scale(1.05); }
  @media only screen and (max-width: 56.25em) {
    .section_features_box {
      width: 35%;
      padding: 6rem 1.5rem;
      margin-top: 6rem;
      font-size: 1.8rem;
      margin-right: 0 !important; }
      .section_features_box:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .section_features_box {
      width: 50%;
      font-size: 2rem; } }

.section_feature_heading {
  text-transform: uppercase; }

@media only screen and (max-width: 75em) {
  .section_features_text {
    width: 60%;
    margin: 0 auto; } }

.section_features_icon {
  font-size: 5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.tours_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .tours_row {
      display: flex;
      flex-direction: column; } }

.card {
  flex: 0 0 20%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      display: inline-block;
      min-height: 45rem;
      width: 50%;
      text-align: center;
      margin: 5rem auto !important; } }
  .card_side {
    height: 45rem;
    font-size: 1.6rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card_side-front {
      background-color: #fff; }
    .card_side-back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      transform: rotateY(180deg); }
    .card_side-back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      transform: rotateY(180deg); }
    .card_side-back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      transform: rotateY(180deg); }
    .card_side_picture {
      background-size: cover;
      height: 18rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card_side_picture-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
      .card_side_picture-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
      .card_side_picture-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
    .card_side_heading {
      font-size: 2rem;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      text-align: right;
      position: absolute;
      top: 7rem;
      right: 2rem;
      width: 70%; }
    .card_side_heading_span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone; }
      .card_side_heading_span-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card_side_heading_span-2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card_side_heading_span-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card_side_details ul {
      list-style: none;
      width: 70%; }
      .card_side_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card_side_details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
        @media only screen and (max-width: 56.25em) {
          .card_side_details ul li {
            margin: 0 auto; } }
      @media only screen and (max-width: 56.25em) {
        .card_side_details ul {
          margin: 0 auto;
          padding: 0; } }
  .card:not(:last-child) {
    margin-right: 10rem; }
  .card:hover .card_side-front {
    transform: rotateY(-180deg); }
  .card:hover .card_side-back {
    transform: rotateY(0); }
  .card_cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; }
  .card_price_box {
    color: #fff;
    margin-bottom: 8rem; }
  .card_price-only {
    margin-top: 8rem;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card_price-value {
    margin-top: 1.5rem;
    font-size: 6rem;
    font-weight: 100; }

.stories-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: -1rem auto; }

.stories-story {
  flex: 0 0 50%;
  padding: 4rem 3.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  transform: skewX(-8deg);
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .stories-story {
      margin-top: 2rem;
      transform: none; } }
  .stories-story_content {
    display: flex;
    transform: skewX(8deg); }
    @media only screen and (max-width: 56.25em) {
      .stories-story_content {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        transform: none;
        justify-content: center;
        align-items: center; } }
  .stories-story_img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-right: 2rem;
    transition: all .5s; }
    @media only screen and (max-width: 56.25em) {
      .stories-story_img {
        margin-right: 0; } }
  .stories-story_header {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .stories-story_header {
        text-align: center; } }
  .stories-story_para {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .stories-story_para {
        text-align: center; } }
  .stories-story:hover .story_caption {
    opacity: 1;
    transform: translate(-45%, -40%); }
  .stories-story:hover .stories-story_img {
    transform: scale(0.9);
    filter: blur(2px) brightness(70%); }

.img_container {
  position: relative; }

.story_caption {
  position: absolute;
  font-size: 1.7rem;
  color: #fff;
  top: 45%;
  left: 40%;
  transform: translate(-45%, -5%);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all .5s; }

.bg-video {
  position: relative;
  overflow: hidden; }
  .bg-video_content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    object-fit: cover;
    z-index: -1; }

.book-back {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex: 0 0 80%; }
  @media only screen and (max-width: 56.25em) {
    .book-back {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg);
      background-size: cover;
      flex: .8 .8 80%; } }

.book-form {
  width: 50%;
  padding: 6rem 6rem 3rem 6rem;
  margin-top: -3rem; }
  @media only screen and (max-width: 56.25em) {
    .book-form {
      width: 60%; } }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form_input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  color: inherit;
  border-bottom: 2px solid transparent;
  width: 60%;
  display: block;
  transition: all .2s; }
  .form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem #000, 0.1;
    border-bottom: 2px solid #55c57a; }
  .form_input:focus:invalid {
    border-bottom: 2px solid #ff7730; }
  .form_input:focus:valid {
    border-bottom: 2px solid #55c57a; }
  .form_input::-webkit-input-placeholder {
    color: #999; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: 0;
  transform: translateY(-3rem); }

.form_label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all .3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.form_radio-group {
  display: inline-block;
  width: 40%; }

.form_radio-input {
  visibility: hidden;
  margin-left: -1.5rem; }

.form_radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form_radio-button {
  height: 2rem;
  width: 2rem;
  border: 4px solid #55c57a;
  display: inline-block;
  position: absolute;
  top: -16%;
  left: 0;
  border-radius: 50%; }
  .form_radio-button::after {
    content: "";
    height: 1rem;
    width: 1rem;
    border: 3px solid #55c57a;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #55c57a;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s; }

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }
